
    @mixin mydefinition{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    }
    $mybg:  rgba(0, 0, 0, 0.912);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    overflow: visible;
    font-family: Verdana, Tahoma, sans-serif;
    @media screen and (max-width: 500px) {
       max-width: 100%;
       margin: auto;
       height: auto; 
    }
    @media screen and (max-width: 800px) {
        max-width: 100%;
        margin: auto;
        height: auto;
    }
    @media screen and (max-width: 1200px) {
        max-width: 100%;
        margin: auto;
        height: auto;
    }

}
body{
    background-image: url(work-image.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}
.loader-container{
    @include mydefinition();
    position: relative;

.page-loader{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border: 5px dotted red;
    background: linear-gradient(to top, green, white, black);
    display: none;
    right: 50%;
    top: 200px;
    animation: preloader 1s linear infinite;
    @keyframes preloader {
        from{
            transform: rotate(-1turn);
            width: 5px;
            height: 5px;
            opacity: 1;
        }
        to{
            transform: rotate(2turn);
            width: 50px;
            height: 50px;
            opacity: 0.9;
        }
    }
}
}
header{
    background: $mybg;
    max-width: 100vw;
    width: 100%;
    height: 50vh;
    @media screen and (max-width: 540px) {
        width: 100%;
        height: auto;
        background-attachment: fixed;
        position: fixed;
        visibility: visible;
        z-index: 1000;
    }

}
.container{
    @include mydefinition();
    max-width: 100%;
    max-height: auto;
    margin: auto;
    .logo{
        width: 300px;
        height: 300px;
        border: 1px solid green;
        border-radius: 100%;
        border-style: double;
        position: static;
        background: linear-gradient(to bottom, green, lightgreen, black);
        margin: auto 40px;
        box-shadow: 2px 2px 2px 3px green, -2px -2px 2px 3px green;
        @media screen and (max-width: 760px) {
            max-width: 100%;
            height: auto;
            margin: auto;
            display: none;
            font-size: small;
        }
        .p1{
            color: red;
            font-size: 15px;
            text-align: center;
            margin: auto;
            position: absolute;
            left: 18%;
            top: 29px;
            right: 17%;
        }
        #h3{
            color: gold;
            position: absolute;
            top: 50px;
            left: 30%;
        }
        #h4{
            color: gold;
            position: absolute;
            top: 137px;
            left: 30%;
        }
        .p3{
            font-size: 13px;
            position: absolute;
            bottom: 120px;
            width: fit-content;
            left: 20px;
            right: 20px;
            top: 160px;
            text-align: center;
            color: white;
        }
        .p2{
            text-align: center;
            font-size: 13px;
            position: absolute;
            top: 75px;
            left: 20px;
            right: 20px;
            width: fit-content;
            color: white;
        }
        .p4{
            text-align: center;
            font-size: 13px;
            position: absolute;
            bottom: 30px;
            color: red;
            left: 30%;
            
        }
        animation: logo 4s ease-in-out forwards 1s;
        @keyframes logo {
            25%{
                transform: scale(-1);
                opacity: 1;
                background: $mybg;
            }
            50%{
                transform: translate(10px, -10px);
                background: linear-gradient(to top, black, aqua, green);
            
            }
            100%{
                transform: translate(-5%, 5%);
                background: linear-gradient(to right, crimson,green, black);
                border: 1px solid white;
                
            }
        }
    }

    .toggle-bars{
        width: auto;
        height: auto;
        display: none;
        @media screen and (max-width:540px) {
            display: block;
            position: fixed;
            right: 50%;
            left: 46%;
            top: 20px;
            margin: auto;
            z-index: 200;


        }
        #open-bar{
            color:crimson;
            font-size: 25px;
            font-weight: bold;
            &:hover{
                cursor: pointer;
                color: goldenrod;
            }
        }
        #close-bar{
            color: crimson;
            font-weight: bold;
            font-size: 25px;
            @media screen and (max-width:540px) {
                display: none;
            }
            &:hover{
                cursor: pointer;
                color: goldenrod;
            }
    }
}
    .navbar-items{
        margin: auto -22%;
        max-width: 100%;
        font-variant: small-caps;
        z-index: 80;
        position: absolute;
        top: 15%;
        left: 25%;

        @media screen and (max-width:540px) {
            position: absolute;
            top: 5%;
            left: 25%;
            z-index: 80;
        }
    
        ul{
            @include mydefinition();
            position: relative;
            left: 60%;
            right: 40%;
            @media screen and (max-width: 540px) {
                display: none;
                margin: auto;
                padding-top: 30px;
                z-index: 80;
                line-height: 1.5;
                background-color: black;
                width: 260px;
                height: auto;
                position: relative;
                top: 0;
                left: -20px;


            }
            li{
                list-style-type: none;
                margin-top: 20px;
                a{
                    text-decoration: none;
                    padding: 20px;
                    color: white;
                    opacity: 1;
                    &:hover{
                        cursor: pointer;
                        transition: all 0.3s;
                        color: aqua;
                        opacity: 1;
                    }
                   
                }
                #icons{
                    color: aqua;
                    font-size: medium;
                    margin-left: -15px;
                    position: absolute;
                    &:hover{
                        color: red;
                        transition: all 0.3s;
                        cursor: pointer;
                    }
                    
                    
                }
                #ikons{
                    color: aqua;
                    font-size: medium;
                    margin-left: -15px;
                    position: absolute;
                    &:hover{
                        color: red;
                        transition: all 0.3s;
                        cursor: pointer;
                    }
                    
                    
                }
                #about{
                    display: none;
                    margin: auto;
                    background-color: gray;
                    @media screen and (max-width:600px) {
                        width: 100%;
                        margin: auto;
                        text-align: center;
                        font-variant: small-caps;
                        background-color: gray;
                    }
                                     
                    .contus{
                        text-decoration: none;
                        color: red;
                        opacity: 1 !important;
                        font-size: 18px;
                        font-weight: bold;
                        padding: 10px;
                        line-height: 1;
                        
        
                        &:hover{
                            transition: all .3s;
                            color: rgb(218, 209, 32);
                            cursor: pointer;
                            transition: all 0.3s;
                            opacity: 1;    
                        }
                    }
  
                }
                #departs{
                    display: none;
                    margin: auto;
                    width: auto;
                    background-color: gray;

                    @media screen and (max-width:600px) {
                        width: 100%;
                        margin: auto;
                        text-align: center;
                        font-variant: small-caps;
                        background-color: gray;
                    }
                    .depart-links{
                        color: red;
                        font-size: 18px;
                        font-weight: bold;
                        &:hover{
                            color: rgb(255, 230, 0);
                            cursor: pointer;
                            transition: all .3s;
                        }
                    }
                }

            }
        }        
    }
}
.slider-container{
    @media screen and (max-width: 900px) {
        max-width: 100%;
        height: auto;
        margin: auto;
    
    }
    @include mydefinition();
    max-width: 100vw;
    height: auto;
    .swiper{
        max-width: 600px;
        height: 500px;
        .swiper-wrapper{
            @include mydefinition();
            width: auto;
            height: auto;
            margin: auto;
            .swiper-slide{img{
                width: 100%;
                height: auto;
                @media screen and (max-width: 900px) {
                    max-width: 100%;
                    height: auto;
                    margin: auto;
                }
            }}
        }
        .swiper-pagination-bullet-active{
            background-color: red;
        }
        .swiper-button-prev, .swiper-button-next{
            color: crimson;
            font-size: 10px;
        }
    }
}

.main-content{
    max-width: 100vw;
    max-height: auto;
    margin: auto;
    background: linear-gradient(to right, white, wheat, whitesmoke);
    padding: 10px;
    @media screen and (max-width:900px) {
        width: 100%;
        max-height: 100%;
        margin: auto;
    }
        h1{
            text-align: center;
            font-size: 25px;
            margin: 10px auto;
        }
        #believe{
            text-align: justify;
            margin: 10px 20px;
            font-size: 20px;
            text-indent: 50px;
            line-height: 1.5;
        }
        ul{
            margin: auto;
            width: 30%;
            border: none;
            outline: none;
            border-radius: 10px;
            border-style: none;
            height: auto;
            border-width: 20px;
            @include mydefinition();
            flex-wrap: wrap;
            flex-direction: row;
            background-color: rgba(0, 0, 0, 0.412);
            box-shadow: 2px 3px 2px 3px burlywood, -2px -3px 2px 3px burlywood;
        @media screen and (max-width:540px) {
            width: 89%;
            margin: auto;
            padding: auto;
        }
            li{
                padding: 10px;
                color: white;
                list-style: none;
                margin: auto 15px;
                
                @media screen and (max-width: 540px) {
                    list-style-type: none;
                    margin: 5px 8px;
                    width: 30%;
                }
            }
        }
}

.media-content{
    max-width: 100vw;
    max-height: auto;
    margin: 20px auto;
    padding: 10px;
    background: linear-gradient(to bottom, antiquewhite, whitesmoke, white);
        #mediap{
            text-align: justify;
            max-width: 100%;
            text-indent: 50px;
            margin: 10px 20px;
            font-size: 20px;
            line-height: 1.5;

    }
        i{
        padding: 10px;
        color: darkorange;
        font-size: 30px;
        font-weight: bold;
        text-indent: 50px;
        margin: 20px auto;
        @media screen and (max-width: 600px) {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            font-size: 20px;
            padding: 2px;
        }
        &:hover{
            cursor: pointer;
            color: green;
            transition: all 0.3s;
            padding: 2px;
        }
    }

}
.quick-link{
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    background-color: antiquewhite;
    padding: 10px;
    #quick{
        text-align: justify;
        font-size: 25px;
        margin: auto 20px;
    }
    address{
        margin: 10px 20px;
        line-height: 1.4;
        font-size: 18px;

    }
    
}
#myfooter{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    padding-top: 20px;
    color: darkslategrey;
    font-weight: bold;
    background: whitesmoke;
    max-width: 100vw;
    height: 15vh;
    @media screen and (max-width: 540px) {
        width: 100%;
        height: 20vh;
        margin-bottom: 0;
        overflow: hidden;
        p{
            margin: 20px 10px;
        }
    }
    p{
        margin: 20px;
    }

}